.slideshow-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.mySlides {
  img {
    width: 100%;
    object-fit: cover;
    height: 20vh;
    filter: brightness(80%);

    @media only screen and (min-width: 481px) {
      height: 60vh;
    }
    @media only screen and (min-width: 1200px) {
      height: 80vh;
    }
  }
}

.dot {
  cursor: pointer;
  position: relative;
  bottom: 20px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--color-lightgrey);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--color-nav);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
