$main: #f4f4f4;
$lightgrey: #d9d9d9;
$darkgrey: #c4c4c466;
$border: #ffffff42;
$font: 14px;
$navcolor: #595959;
$textcolor: #474747;
$red: #bf0f0f;

html[data-theme="light"] {
  --color-text: #{$textcolor};
  --color-border: #{$border};
  --color-nav: #{$navcolor};
  --color-darkgrey: #{$darkgrey};
  --color-lightgrey: #{$lightgrey};
  --color-background: #{$main};
  --color-474747: #{#474747};
  --color-white: #{#fff};
  --color-black: #{black};
}

html[data-theme="dark"] {
  --color-text: #{lighten($textcolor, 60)};
  --color-background: #{darken($main, 60)};
  --color-nav: #{lighten($navcolor, 50)};
  --color-darkgrey: #{lighten($darkgrey, 60%)};
  --color-lightgrey: #{darken($lightgrey, 60%)};
  --color-474747: #{black};
  --color-white: #{darken($main, 40)};
  --color-black: #{$lightgrey};
}
