@import "_vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}

body {
  background-color: $main;
}

.logo {
  background-color: $lightgrey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8%;
  padding-top: 1.2%;
  padding-bottom: 1.2%;

  .logoleft {
    display: flex;
  }

  .logoright {
    display: none;

    @media only screen and (min-width: 481px) {
      display: flex;
    }
  }

  a {
    margin: 5%;
    color: $navcolor;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
}

.navi {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    height: 4rem;
  }

  button {
    width: 12%;
    background-color: $main;
    border-left: 1px solid $lightgrey;

    h5 {
      font-family: Roboto;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      font-weight: 500;

      @media only screen and (min-width: 480px) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    p {
      font-family: Roboto;
      font-size: 12px;
      line-height: 14px;
      color: #474747;

      @media only screen and (min-width: 768px) {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  :last-child {
    border-right: 1px solid $lightgrey;
  }
}

#menu {
  z-index: 2;
  margin-left: 80%;
  margin-top: -14%;

  @media only screen and (min-width: 481px) {
    display: none;
  }

  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: $red;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;
    background-color: $navcolor;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    justify-content: center;
  }

  .nav ul {
    padding: 0 22px;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
    border-bottom: 1px solid $main;
  }

  .nav li a {
    color: $main;
    font-size: 20px;
    text-decoration: none;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  .menu-bg,
  #menu {
    top: 0;
    left: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, $red, $red);
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .change {
    display: block;
  }

  .change .bar {
    background-color: $red;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(-45deg);
  }

  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
  }
}

.slideshow-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.mySlides {

  img {
    width: 100%;
    object-fit: cover;
    height: 40vh;

    @media only screen and (min-width: 481px) {
      height: 70vh;
      filter: brightness(80%);
    }
  }
}

.slide-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  bottom: 12em;

  @media only screen and (min-width: 481px) {
    bottom: 20rem;
  }
}

.prev,
.next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  position: relative;
  bottom: 20px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $lightgrey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: $navcolor;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.main1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: $main;

  .slika {
    width: 100%;

    @media only screen and (min-width: 769px) {
      width: 50%;
    }
  }

  .text {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2% 10% 0 5%;
    gap: 10%;

    @media only screen and (min-width: 769px) {
      flex-direction: column;
      gap: 10%;
      width: 50%;
    }

    h2 {
      font-size: 38px;
      line-height: 44px;
      font-family: Roboto;
      font-weight: 700;
      color: #303030;
      text-align: left;

      @media only screen and (min-width: 769px) {
        font-size: 42px;
        line-height: 34px;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      font-family: Inter;
      color: $textcolor;
      text-align: left;

      @media only screen and (min-width: 769px) {
        font-size: 28px;
        line-height: 34px;
      }
    }

    p {
      font-family: Roboto;
      border-top: 5%;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
      color: $textcolor;
    }

    button {
      background-color: $red;
      color: $main;
      width: 80%;
      height: 48px;
      margin-top: 10%;
      padding: 0px, 16px, 0px, 16px;
      border-radius: 4px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  .red {
    width: 25%;
    height: 6px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $red;
  }

  .grey {
    width: 85%;
    height: 3px;
    margin-top: 5%;
    background-color: $darkgrey;
  }
}

.main2 {
  position: relative;
  display: flex;
  width: 100%;
  z-index: -99;


  .offset {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    @media only screen and (min-width: 481px) {
      top: 50%;
    }

    @media only screen and (min-width: 769px) {
      top: 50%;
    }

    h2 {
      color:$main;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.225em;
      @media only screen and (min-width: 481px) {
        font-size: 26px;
        line-height: 30px;
      }
      @media only screen and (min-width: 769px) {
        font-size: 32px;
        line-height: 34px;
      }
    }

    div {
      width: 18%;
      height: 3px;
      background-color: red;

      @media only screen and (min-width: 481px) {
        height: 4.5px;
      }

    }
  }

  img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
    filter: brightness(90%);
  }
}

.main3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5%;

  .small {
    width: 90%;
    padding: 1%;

    @media only screen and (min-width: 481px) {
      width: 50%;
    }

    @media only screen and (min-width: 769px) {
      width: 30%;
    }

    img {
      width: 100%;
      margin-bottom: 5%;
    }

    p {
      font-family: Roboto;
      font-size: 18px;
      line-height: 22px;
      text-align: left;

      @media only screen and (min-width: 481px) {
        font-size: 24px;
      }
    }

    div {
      margin-top: 5%;
      width: 15%;
      height: 2px;
      background-color: $red;
    }
  }
}

.main4 {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5%;

  h2 {
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
  }

  p {
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
  }

  div {
    width: 10%;
    height: 6px;
    background: $red;
  }
}

.main5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $red;
  height: auto;
  color: $main;
  padding: 5%;
  gap: 20px;

  @media only screen and (min-width: 481px) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
    height: 18vw;
  }

  .stats {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 481px) {
      width: 25%;
      border-right: 1px solid $border;
    }

    h2 {
      font-family: Inter;
      font-size: 36px;
      font-weight: 900;
      line-height: 34px;

      @media only screen and (min-width: 769px) {
        font-size: 46px;
      }

      span {
        font-size: 20px;
      }
    }

    p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 200;
      line-height: 34px;

      @media only screen and (min-width: 769px) {
        font-size: 18px;
      }
    }
  }

  :last-child {
    border: none;
  }
}

.main6 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .sub6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    @media only screen and (min-width: 481px) {
      width: 95%;
    }

    @media only screen and (min-width: 769px) {
      width: 48%;
    }

    h3 {
      font-family: Inter;
      font-size: 28px;
      line-height: 34px;

      @media only screen and (min-width: 481px) {
        font-size: 32px;
      }
    }

    p {
      font-family: Roboto;
      font-size: 14px;
      line-height: 22px;
      width: 70%;
    }

    div {
      width: 70%;
      height: 3px;
      background: $darkgrey;
      margin: 5%;
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    gap: 12px;
    justify-content: space-around;

    .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      object-fit: cover;
      background-color: white;

      @media only screen and (min-width: 481px) {
        width: 30%;
      }

      @media only screen and (min-width: 769px) {
        width: 18%;
        min-width: 150px;
      }

      .tag {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        bottom: 20%;
        left: 10%;

        @media only screen and (min-width: 481px) {
          width: 80%;
        }

        h3 {
          font-family: Roboto;
          font-size: 22px;
          line-height: 20px;
          text-align: left;
        }

        .red-line {
          background-color: $red;
          height: 3px;
          width: 20%;
        }
      }
    }
  }
}

.main7 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 5%;

  h3 {
    font-family: Inter;
    font-size: 28px;
    line-height: 34px;
    width: auto;

    @media only screen and (min-width: 481px) {
      width: 50%;
    }
  }

  .line {
    width: 40%;
    height: 3px;
    background: $darkgrey;
    margin: 3%;
  }

  .brands {
    display: none;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;

    @media only screen and (min-width: 769px) {
      display: flex;
    }
  }

  // swiper
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    @media only screen and (min-width: 769px) {
      display: none;
    }
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  button {
    font-family: Inter;
    background-color: $red;
    color: $main;
    width: 50%;
    height: 48px;
    padding: 0px, 16px, 0px, 16px;
    border-radius: 4px;
    margin-top: 5%;

    @media only screen and (min-width: 481px) {
      width: 30%;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: $textcolor;
  color: $main;

  a {
    color: $main;
  }

  .foot {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;

    @media only screen and (min-width: 481px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
    }

    .div1 {
      width: 90%;
      display: flex;
      padding: 2%;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width: 481px) {
        width: 22%;
        justify-content: flex-end;
        align-items: stretch;
      }

      img {
        width: 86px;
        height: 85px;
      }
    }

    .div2 {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      align-items: center;
      padding-left: 2%;
      margin: 2%;

      @media only screen and (min-width: 481px) {
        width: 32%;
        justify-content: flex-start;
        align-items: stretch;
        border-left: solid 1px $border;
      }

      h3 {
        font-family: Inter;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;

      }

      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        figure {
          display: flex;
          gap: 2%;
          align-items: center;
        }
      }
    }

    .div3 {
      width: 90%;
      display: flex;
      margin: 2%;
      padding-left: 2%;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width: 481px) {
        display: none !important;
      }

      @media only screen and (min-width: 769px) {
        width: 12%;
        display: flex !important;
        border-left: solid 1px $border;
        justify-content: flex-start;
        align-items: stretch;
      }

      ul {
        width: 100%;
        list-style: none;
        text-align: left;
        font-family: Roboto Condensed;
        font-size: 16px;
        line-height: 26px;

        a {
          text-decoration: none;
          font-size: 14px;
        }
      }
    }

    .div4 {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2%;
      padding-left: 2%;
      gap: 1em;

      @media only screen and (min-width: 481px) {
        width: 22%;
        border-left: solid 1px $border;
        justify-content: flex-start;
        align-items: stretch;
      }

      div {
        display: flex;
        gap: 1em;
      }
    }
  }

  .div5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background: rgba(0, 0, 0, 0.33);
    background-blend-mode: multiply;

    @media only screen and (min-width: 769px) {
      flex-direction: row;
    }

    p {
      display: block;
      color: $textcolor;
      font-family: Roboto;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.03em;

      @media only screen and (min-width: 769px) {
        display: inline;
      }
    }

    a {
      display: block;
      color: #ffffff80;
      font-family: Roboto;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.03em;
      text-align: right;

      @media only screen and (min-width: 769px) {
        display: inline;
      }
    }
  }
}